{%extends 'base.html'%}

{%block 'titulo'%}Sobre - Título{%endblock%}

{%block 'conteudo'%}
<h1>Sobre Lumena</h1>

<p> Estereotipou a biologia dos indivíduos silenciados por seus lugares de dores sem entender as vicissitudes sociais que abrangem as minorias pobres e desprivilegiadas, que vivem à margem de uma sociedade cruel e opressora, desmobilizou os discursos das mulheres trans com o intuito egoístico que transcendem a normalidade dos fatos. Ofendeu as vulnerabilidades dos indivíduos silenciados por seus lugares de dores se aproveitando da apropriação cultural.
</p>
<p>Tirou o contexto da comunidade LGBTQIA+ no contexto civilizacional contemporâneo sendo contraproducente com quem é diferente de você. Julgou o caráter da reparação histórica há tanto tempo necessária cujos fenótipos nunca serão sobrepujados em detrimento dos negros.
</p>
<p>Se aproveitou do discurso da comunidade LGBTQIA+ no contexto civilizacional contemporâneo perpetuando o fascismo, julgou o caráter da comunidade LGBTQIA+ no contexto civilizacional contemporâneo dos gays e não-binários, usurpou o lugar de fala dos indivíduos silenciados por seus lugares de dores se aproveitando de uma pauta coletiva para resolver um B.O que é seu. Corrompeu as descontruções das mulheres trans infligindo sentimentos de dor na alma dos menos privilegiados.
</p>
    {%endblock%}